* {box-sizing: border-box;}

.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans";
  transition: .3s ease-in;
  border: 1px solid black;
  background-color: burlywood;
  padding-left: 10px;
}

.product-item img {
  display: block;
  width: 100%;
  
}


.products {
    display: flex;
    width: 1350px
;
}

.buy-btn {
    color: #fff; /* цвет текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: 0.7em 1.5em; /* отступ от текста */
    margin-bottom: 1.5em;

   
}

.buy-btn:hover {
    background: rgb(232,95,76); 
} /* при наведении курсора мышки */

.buy-btn:active {
     background: rgb(152,15,0);
 } /* при нажатии */

 .image {
    padding: 15px;
 }

.btn-cart {
    color: #fff; /* цвет текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    margin: 1.5em;
}

.btn-cart:hover {
    background: rgb(232,95,76);
} /* при наведении курсора мышки */


.hdr {
    width: 1350px;
    height: 80px;
    border: 1px solid black;
    background-color: burlywood;
    margin-bottom: 15px;
    text-align: right;
}